name: Sync dev to Test, dev_espa침ol_tmp, dev_ESP

on:
  push:
    branches:
      - dev

jobs:
  sync_branches:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Git user
        run: |
          git config user.name "GitHub Actions"
          git config user.email "actions@github.com"

      # Paso para sincronizar dev -> tmp
      - name: Try to Merge dev into tmp
        id: merge_tmp
        run: |
          git checkout tmp
          git merge dev --no-ff --commit -m "Auto-merge dev into tmp"
        continue-on-error: true

      - name: Push changes to tmp branch
        if: success()
        run: |
          git push origin tmp
        env:
          GITHUB_TOKEN: ${{ secrets.WORKFLOW_TOKEN }}

      # Paso para sincronizar dev -> dev_espa침ol_tmp
      - name: Try to Merge dev into dev_Espa침ol_tmp
        id: merge_dev_Espa침ol_tmp
        run: |
          git checkout dev_Espa침ol_tmp
          git merge dev --no-ff --commit -m "Auto-merge dev into dev_Espa침ol_tmp"
        continue-on-error: true

      - name: Push changes to dev_Espa침ol_tmp branch
        if: success()
        run: |
          git push origin dev_Espa침ol_tmp
        env:
          GITHUB_TOKEN: ${{ secrets.WORKFLOW_TOKEN }}

      # Paso para sincronizar dev -> dev_ESP
      - name: Try to Merge dev into dev_ESP
        id: merge_dev_ESP
        run: |
          git checkout dev_ESP
          git merge dev --no-ff --commit -m "Auto-merge dev into dev_ESP"
        continue-on-error: true

      - name: Push changes to dev_ESP branch
        if: success()
        run: |
          git push origin dev_ESP
        env:
          GITHUB_TOKEN: ${{ secrets.WORKFLOW_TOKEN }}

      # Enviar notificaci칩n si hay conflictos en alguno de los merges
      - name: Notify on Merge Conflict
        if: failure()
        run: |
          curl -s -X POST https://api.telegram.org/bot${{ secrets.TELEGRAM_TOKEN }}/sendMessage \
          -d chat_id=${{ secrets.CHAT_ID }} \
          -d text="游뚿 Conflicto detectado al intentar hacer merge de 'dev' en una de las ramas destino. Requiere intervenci칩n manual."
